.block {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 140px;
    left: 0;
    background: red;
  }
  .ant-space {
    width: 350px;
  }
  .ant-spin-container {
    width: 350px;
  }
  .ant-list-item-meta {
    max-width: 80%;
  }
  .item-done {
    margin-right: 20px;
  }